#app {
    display: grid;
    grid-template-columns: 48px 1fr;
    position: relative; 
}
#app::before {
    content: "";
    position: absolute;
    inset: 0; 
    
    background-clip: padding-box;
    border-style: solid;
    border-color: var(--bg-card);

    border-top-width: .5rem;
    border-bottom-width: .5rem;
    border-left-width:3.4rem;
    border-right-width: .5rem;
    
    pointer-events: none;
}
.container-content-main{
   width: 100%;
   height: 100dvh;
   padding: .5rem;
   border: solid var(--bg-card) .5rem; 
   border-radius: 1.5rem;
   grid-area: 1 / 2 / 2 / 3; 
}
