.dashboard-graphics{
   width: 100%;
   height: 100%;
}

.dashboard-graphics span{
   background: var(--bg-card);
   border-radius: 1.5rem;
   font-size: clamp(.7rem, 2vw, 1.5rem);
   padding: .5rem;
   text-align: center;
}