#menu{
   padding: .5rem 0;
   background: var(--bg-card);
   position: relative;
   grid-area: 1 / 1 / 2 / 2; 
}
#menu ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
#menu button{
    width: 100%;
    height: 3rem;
    border-radius: .7rem;
    cursor: pointer;
}
#menu nav ul li:nth-child(1) button{
    background: url(../../images/chart.png) no-repeat center, var(--color-linear-gradient);
    background-size: 2rem;
}
#menu nav ul li:nth-child(2) button{
    background: url(../../images/star.png) no-repeat center, var(--color-linear-gradient);
    background-size: 2rem;
}
#menu nav ul li:nth-child(3) button{
    background: url(../../images/converter.png) no-repeat center, var(--color-linear-gradient);
    background-size: 2rem;
}
#menu nav ul li:nth-child(4) button{
    background: url(../../images/settings.png) no-repeat center, var(--color-linear-gradient);
    background-size: 2rem;
}