.container-title-search{
   width: 100%;
   flex-direction: column;
   gap: .5rem;
}
.container-title-search h1{ 
   font-size: clamp(1.3rem, 1vw, 2.3rem); 
   background: var(--color-linear-gradient);
   background-clip: text;
   -webkit-text-fill-color: transparent;
   display: flex;
   gap: .5rem;   
}

.container-search{
   width: 100%;
   height: clamp(2rem, 50vw, 3rem);
   border-radius: 1.5rem;
   background: var(--bg-card);
   padding: .5rem;

}
.container-search input{
   width: 100%;
   height: 100%;
   background-color: transparent;
   border-radius: 1.5rem;
   padding: .5rem;
   font-size: clamp(.9rem, 1vw, 1.5rem);
}
.container-search button{
   border-radius: 1.5rem;
   width: 3.5rem;
   height: 100%;
   background: url(../../images/magnifying-glass-of-course.png.png) no-repeat center,
   var(--color-linear-gradient);
   background-size: 32px;
   cursor: pointer;
}

@media (max-width: 932px) and (orientation: landscape) {
   .container-title-search { flex-direction: row; }
}
@media (min-width: 768px) and (max-width: 1024px) {
   .container-title-search { flex-direction: row; }
   .container-title-search h1 { width: 45%; }
   .container-search { width: 55%; }
}
@media (min-width: 1025px){ 
   .container-title-search { flex-direction: row; }
   .container-title-search h1 { width: 40%; }
   .container-search{ width: 60%; }
}