@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=JetBrains+Mono:wght@400;500&display=swap");
@import url(styles/patterns.css);
@import url(styles/pageOn.css);
/* @import url(styles/pageOf.css);  */
@import url(styles/components/search.css);
@import url(styles/components/deashboard.css);
@import url(styles/components/menu.css);

:root {
  --bg-main: #0c1123;
  --bg-card: #182037; /*containers*/
  --text-primary: #e6e6e6;
  --text-muted: #808080; /*textos menores para criar hierarquia visual*/
  --border: #262626;
  --accent-emerald: #00ffa3; /*botões, preços em alta e ícones */
  --accent-danger: #ff5f5f;
  --font-default: "Inter", sans-serif;
  --button-primary: #1288fe;
  --button-secondary: #0d2454;
  --color-linear-gradient: linear-gradient(#1288fe  0%, #5912fe 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: var(--font-default);
  color: var(--text-primary);
}

*::-webkit-scrollbar {
  overflow: visible;
  width: 0px;
  background-color: transparent;
}

#app,
body { background: var(--bg-main); width: 100%; min-height: 100dvh; overflow: hidden;}
